
body {background-color: white;}
h1   {color: blue;margin:50px}
h2   {color: black;margin:60px}
h3   {color: black;margin:70px}
/*
p    {color: black;
    border: 2px solid powderblue;
    margin: 150px;
    font-size: 160%;
    background-color:white
    }
*/

.zero{margin: 250px;}

.one{
    font-family: 'Impact';
    color: red;
    font-size: 25px;
}
.two{
    font-family: 'Times New Roman';
    color: blue;
    font-size: 50px;
}
.three{
    /* font-family: 'Impact'; */
    color: red;
    font-size: 25px;
    margin: 150px;
    border: 2px solid black;
}
.four{
    font-family: 'Times New Roman';
    color: blue;
    font-size: 50px;
    border: 2px solid black;
}